body {
    background-color: #151619;
    //ALL POSTS MENU
    .card-container {
        width: 23%;
        margin: 35px 7px;
        float:left;
        display: inline-block;
        .card {
            background-color: #f3f3f3;
            border: none;
            box-sizing: border-box;
            border-top: 5px solid #865FC5;

            .card-image {
                height: 200px ;
                width: 100%;
                background-color: #625e64;
                img {

                    width: 100%;
                }
            }
            .card-body {
                height: 350px;
                box-sizing: content-box;
                .card-title {
                    height: 45px;
                    a{
                        text-decoration: none;
                        color:#865FC5;
                    }
                }
                .card-author {
                    height: 80px;
                    p {
                        padding: 0;
                        margin: 2px 0;
                    }
                }
                .card-text {
                    height: 90px;
                }
                .card-tags {
                    height: 65px;

                }
                .card-btn {
                    background-color: #1a1c2b;
                    width: 100%;
                    margin: 0 auto;
                    transition: .6s;
                }
                .card-btn:hover {
                    background-color: #865FC5 ;
                }
            }
        }
    }
    //SINGLE POST
    .post-card {
        width: 65%;
        border: none;
        box-sizing: border-box;
        border-top: 5px solid #865FC5;
        background-color: #f3f3f3;
        padding: 0;
        border-radius: 5px;
        .post-img {
            width: 100%;
            height: 360px;
            background-color: #625e64;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .card-body {
            background-color: #f3f3f3 ;
            border-radius: 5px;
            .post-sub {
                .post-info {
                    width: 75%;
                    display: inline-block;
                    float: left;
                    .post-title {
                        color: #1a1c2b;
                        padding: 15px 0 0;
                    }
                    .post-author {
                        font-size: 16px;
                    }
                }
                .post-cat {
                    width:15%;
                    display: inline-block;
                    float: right;
                    text-align: center;
                    font-size: 16px;
                    margin-top: 25px;
                    color: #865FC5;
                }
            }
            .post-tag {
                padding-bottom: 10px;
            }
            .post-body {
                padding: 35px 0;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}
.tag-accent {
    color:#865FC5;
}
.clearfix {
    clear: both;
}
.main-cont {
    min-height: 860px;
}
